body{
    height:100%;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:#FFFF00;
    font-size: 30px;
    display: inline-block;
    margin:10px 20px;
}
.container{
    display:flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    background-color:#414598 ;
    height: 15%;
    color:#BD3F2A;
}
.content{
    display: flex;
    flex: 1;
}
.home{
    background-color: #BD3F2A;
    width: 20%;
}
.main{
    background-color: #BBCFEE;
    width:60%;
}
.right{
    background-color: #4F331C;
    width: 20%;
    color:rgb(181, 181, 13);
}
.footer{
    background-color:#82A97E;
    height:15%;
}
